        #header-container {
            border: 1px solid black;
            padding-bottom: 5px;
            text-align: center;
            border-color: rgb(238, 232, 232);
            background-color: ivory;
            position: sticky;
            top: 0%;
        }
        
        .location {
            height: 45px;
            width: 340px;
            border: 2px solid black;
            border-radius: 5px;
            margin-top: 5px;
            cursor: pointer;
        }
        
        .location:hover {
            border-color: rgb(222, 241, 253);
            background-color: rgb(222, 241, 253);
        }
        
        .search {
            height: 45px;
            width: 420px;
            border: 2px solid black;
            border-radius: 5px;
            margin-top: 5px;
        }
        
        .search:hover {
            border-color: lightskyblue;
        }
        
        .btn {
            height: 45px;
            margin-top: -5px;
        }
        
        @media screen and (max-width: 420px) {
            .search {
                width: 255px;
                margin-top: 5px;
            }
            .container-fluid {
                text-align: center;
            }
            #sell {
                position: fixed;
                bottom: 15px;
                box-shadow: 4px 6px 6px 2px;
                left: 20%;
            }
            .location {
                width: 305px;
            }
        }
        
        #sell {
            width: 200px;
            font-weight: 600;
            margin-top: 5px;
            border-radius: 50px;
            border-color: skyblue rgb(255, 213, 77) rgb(36, 166, 206);
            border-width: 5px;
            background-color: ivory;
            margin-left: 15px;
        }
        
        #sell:hover {
            background-color: rgb(255, 213, 77);
            border-color: rgb(255, 213, 77) rgb(255, 213, 77) rgb(255, 213, 77) rgb(255, 213, 77);
        }
        
        #login {
            font-weight: 600;
            margin-top: 5px;
            border-radius: 10px;
        }
        /*MENU CSSMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM*/
        
        menu label {
            font-weight: bolder;
            font-size: 20px;
        }
        
        ul {
            list-style-type: none;
            padding: 0px;
            margin-left: 10px;
        }
        
        li {
            float: left;
            margin-top: 5px;
            margin-left: 5px;
        }
        
        .menu {
            border: 0px solid;
            width: 130px;
            background-color: ivory;
            font-size: 13px;
        }
        
        .menu:hover {
            background-color: black;
            color: ivory;
        }
        
        #component-container {
            width: 1155px;
        }
        
        .card {
            z-index: -1000;
            width: 15rem;
            margin: 0 auto;
        }
        
        #ad_img {
            width: 750px;
        }
        
        #ad_div {
            text-align: center;
        }
        
        @media screen and (max-width: 420px) {
            ul {
                margin: 0 auto;
            }
            li {
                float: none;
                text-align: center;
            }
            label {
                font-size: 40px;
                background-color: ivory;
            }
            .menu {
                width: 350px;
            }
            #img {
                width: 410px;
            }
            #component-container {
                width: 360px;
            }
            #ad_img {
                width: 350px;
            }
        }
        
        #link {
            text-decoration: none;
            color: black;
            margin: 0 auto;
        }
        
        #link1 {
            border-left: 5px solid rgb(255, 255, 99);
        }